* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", serif;
  font-weight: 100;
}

body {
  /* height: 100vh; */
  width: 100vw;
  font-family: "Public Sans", serif;
  background: linear-gradient(to bottom, coral, #c9c9ee3b);
  /* background-color: beige; */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem;
}

ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 1.25rem;
}

ul li a {
  text-decoration: none;
}

.logo {
  max-height: 3rem;
  cursor: pointer;
  margin-right: 12rem;
}

.search {
  outline: none;
  padding: 0.4rem;
  border: none;
  border-radius: 0.4rem;
}

/* Modal Styles */
.modal {
  position: fixed; /* Position modal over the page */
  z-index: 1; /* Set modal above other elements */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefefe; /* White background */
  margin: 20% auto; /* Center modal vertically and horizontally */
  padding: 1.2rem;
  border: 1px solid #888;
  border-radius: 0.5rem;
  width: 80%;
}

.modal-content input {
  flex: 1;
  padding: 0.5rem;
  outline: none;
  font-size: 1.2rem;
}

.close {
  color: #aaa;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1.2rem;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.home-header {
  text-align: center;
  padding: 9rem;
  width: 100vw;

  background-image: url("/Users/naeemlive/Desktop/personal-website/personal-website/src/assets/home-header-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: #c9c9ee; */
}

/* .home-container {
  width: 100vw;
} */

.home-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.home-collage {
  display: inline;
  height: 30rem;

  /* position: absolute; */
  /* left: 100px; */
}

.home-section {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 43rem;
}

.home-caption {
  display: inline;
  word-wrap: normal;
}

.footer {
  text-align: center;
  padding: 3rem;
}

.contact-heading {
  text-align: center;
  font-weight: bolder;
}
